body{
    background-color: mistyrose;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.heading{
    color: purple;
    text-align:center;
    font-family: sans-serif;
    
}
.para1{
    font-family: Verdana;
    font-size: 15px;
}
.para2{
    font-family: Verdana;
    font-size: 15px;
}
@media screen and (max-width: 500px){
    .responsive{
        padding: 0px 20px;
        
    }
}
